// Place all the styles related to the admins/cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back{
	position:fixed;
	right:20px;
	bottom:20px;
}
#back img{
	width:50px;
}