<h1>注文内容の確認・編集</h1>

<div>
	<h2>お届け先住所</h2>

		<label>
			<%= radio_button_tag (:@client.last_name + @client.first_name, @client.post_code, @client.address, "@client.id" ) {:checked => true} %>
		</label>
		<% @client.address.each do |t| %>
			<label>
				<%= radio_button_tag (:t.last_name + t.first_name, t.sub_post_name, t.sub_address, "t.id") %>
			</label>
		<% end %>
</div>