<h1>注文内容の確認・編集</h1>

<div>
	<h2>お届け先住所</h2>
	<p>送付先住所</p>
	<% form_for(@order) do |f| %>
	<%= f.select :shipping_address, @client.address.map{|t| [t.sub_address, t.sub_address, :selected => @client.address]} %>
	<% end %>