<h1>注文内容の確認・編集</h1>

<div>
	<% form_for(@order) do |f| %>
	<h2>お届け先住所</h2>
	<p>送付先住所</p>
	<%= f.select :shipping_address, @client.map{|t| [t.address.sub_address, t.id, :selected => @client.address]}  %>
	<% end %>
