<div>
	<h2>ジャンル</h2>
	<% @cds.each do |cd| %>
	    <%= attachment_image_tag cd, :image, :fill, 40, 40, format: 'jpeg' ,fallback: "noimage.jpg" ,:size =>'40x40' %>
		<%= cd.artist.artist_name %>
	    <%= cd.name %>
	    <%= cd.price %>
    <% end %>
</div>