// Place all the styles related to the clients/cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back{
	position:fixed;
	right:30px;
	bottom:30px;
}
#back img{
	width:50px;
}

.main{
	position: relative;
}

.main p{
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	top: 65%;
	left: 60%;
	font-weight: bold;
    color: green;
    opacity: 0.5;
    font-size: 20px;
    z-index: 100;
}

.main img{
	width: 100%;
}


.genre_name{
	margin: 55px 100px 30px;

	padding: 0px 16px;
}

.bxslider{
	margin: 55px 224px 30px;
	padding: 0px 16px;
}

.container-show{
	margin: 55px 224px 30px;
	padding: 0px 16px;
}