// Place all the styles related to the clients/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back{
	position:fixed;
	right:30px;
	bottom:30px;
}
#back img{
	width:50px;
}

.address{
	border:solid 2px #999;
	width:80%;
}
.money{
	margin-top: 20px;
}
.date{
	margin-top: 20px;
}
.item{
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom:solid 2px #999;
}

.select-left{
	padding-top: 20px;
}

.select-right{
	padding-bottom: 20px;
}
.orders-show{
	margin-top: 10px;
}
body{
	position:relative;
}
@-webkit-keyframes typing {
							 0% { width:2em; }
							 7%{width:3.1em;}
							 14%{width:4.1em;}
							 21%{width:5.1em;}
							 28%{width:6.1em;}
							 35%{width:7em;}
							 42%{width:8.1em;}
							 49%{width:9.1em;}
							 56%{width:10.1em;}
							 63%{width:11.1em;}
							 70%{width:12.1em;}
							 77%{width:13.1em;}
							 84%{width:14.1em;}
							 90%{width:15.1em;}
							 97%{width:16.5em;}
							  }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.hit-the-floor{
	position:absolute;
	top: 100px;
	left: 20px;
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em;
	margin: 2em 1em;
	line-height: 180px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 9s step-end,
	  blink-caret .5s step-end infinite alternate;
	margin-top: 50px;
  font-size: 70px;
  color: #99e8ad;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.disc-numnum{
	margin-left: 50px;
}
.disc-song{
	margin-left: 80px;
}

.btn-group{
	margin-bottom: 10px;
}

.label-buy{
	margin: 5px 0 5px 30px;
}

.line-buy{
	line-height: 1.5;
}