// Place all the styles related to the clients/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back{
	position:fixed;
	right:30px;
	bottom:30px;
}
#back img{
	width:50px;
}

.address{
	border:solid 2px #999;
	width:80%;
}
.money{
	margin-top: 20px;
}
.date{
	margin-top: 20px;
}
.item{
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom:solid 2px #999;
}

.select-left{
	padding-top: 20px;
}

.select-right{
	padding-bottom: 20px;
}
.orders-show{
	margin-top: 10px;
}
