/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bxslider
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* bootstrapを無効化 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
/* end */

.nagareco-inc{
  color: #fff;
  height: 70px;
}

.footer{
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 8rem;
  background: -moz-radial-gradient(#51e8df, #51e8df);
  background: -webkit-radial-gradient(#67ffb7, #51e8df);
  background: radial-gradient(#51e864, #51e8df);
  margin-top: auto;
}

.cover-box{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar, .container{
  height: 55px;
  font-size: 20px;
}

.navbar-default{
	width: 100%;
  height:78px;
	margin: 0;
	background: -moz-radial-gradient(#51e8df, #51e8df);
  background: -webkit-radial-gradient(#67ffb7, #51e8df);
  background: radial-gradient(#51e864, #51e8df);
	position: fixed;
	z-index: 100;
}

.object{
	text-align:center;
}

.image{
	margin:0 auto;
}

.way{
	opacity:0;
	position:relative;
	transition:all 0.5s 0.5s ease;
	z-index:0;
}
.way:before{
	background:#333;
	content:"";
	display: block;
	position:absolute;
	transform:translateX(-100%);
	transition: all 0.5s 0.5s ease;
	width:100%;
	z-index:1;
}
.way.active:before{
	transform:translateX(100%);
}
.way.active{
	opacity:1;
}

.box{
	margin-top: 79px;
}

.object{
	height:106px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
}

.object::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #51e864;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.object:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}
.object{
  border:1px solid transparent;
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.object::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #41E8CC;
  box-shadow: inset 0px 0px 0px #51e864;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.object:hover::before {
  width:100%;
}

.object::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #51e864;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.object:hover::after {
  width:100%;
}
.object:hover{
  border:3px solid #51e864;
}
.image{
	margin-top: 2px;
}
element.style{
	height:auto;
}


#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
  }

#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 9999;
  }
.title{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.title2{
  margin: auto;
  width: 30%;
  height: 400px;
  border-style: solid;
  border-width: thin;
  padding:30px;
}

.title3{
  margin: auto;
  width: 45%;
}


.in-background{
  background-color: #F5F5F5;
}

.center{
  text-align: center;
}

.center-sign{
  margin-left: 150px;
}

.space2{
  margin: 3px 0px 3px 0px;
}

.space{
  line-height: 1;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

.line-height{
  line-height: 2;
}

.add{
  line-height: 2;
  margin-left: 200px;
}

td{
  padding: 10px;
}

.about{
  font-size: 15px;
}

.search-text{
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
}

.in-item{
  margin: 20px 0;
}

.in-botton{
  width: 70%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}